[submodule "src/sea-lab-utils"]
	path = src/sea-lab-utils
	url = git@github.com:symbiotic-engineering/sea-lab-utils.git
[submodule "src/WEC-Sim"]
	path = src/WEC-Sim
	url = https://github.com/WEC-Sim/WEC-Sim
[submodule "src/GILL"]
	path = src/GILL
	url = git@github.com:symbiotic-engineering/GILL.git
[submodule "src/OpenMDAO"]
	path = src/OpenMDAO
	url = git@github.com:degoeden/OpenMDAO.git
[submodule "src/DEAPSEA"]
	path = src/DEAPSEA
	url = git@github.com:degoeden/DEAPSEA.git
